############################################
# .NET / Visual Studio
############################################

# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.cache
*.log

# Rider / VS Code
.idea/
.vscode/

############################################
# .NET CLI
############################################

# Dotnet tool files
.dotnet/

############################################
# Testes
############################################

# Test results
TestResults/

############################################
# EF Core
############################################

# Ignore database files (LocalDB / SQLite)
*.mdf
*.ldf
*.db
*.sqlite

# BUT KEEP migrations
!**/Migrations/**
!**/Migrations/*.cs

############################################
# Logs
############################################

logs/
*.log

############################################
# Docker
########
